 h1 {
  color: #e6ba7d;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

html {
  font-size: 16px;
}

.onepager {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: crosshair;
  font-size: 2.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Titel {
  color: #e6ba7d;
  font-size: 60px;
  font-weight: 400;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Book Antiqua", serif;
  background-color: black;
}
#body_ee {
  overflow: hidden;
}

header {
  background-color: #010101;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px #e6ba7d solid;
}

nav {
  background-color: black;
  color: #e6ba7d;
  height: 10vh;
  display: flex;
  justify-content: center;
 align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px #e6ba7d solid;
  margin-top: 0; 
  margin-bottom: 0; 
}


nav li:hover { 
  border-bottom: none;
}

nav li:hover a {
  color: #e6ba7d;
}
nav ul:hover {
  border-bottom: none;
}
nav li {
  margin: 0 10px;
  align-items: center;
  text-align: center;
  position: relative;
}
nav li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e6ba7d;
  transform: scaleX(0);
  transition: transform 0.3s ease, width 0.3s ease;
}
nav li:hover:before {
  transform: scaleX(1);
  width: 100%;
}

nav a {
  color: #e6ba7d;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  transition: color 0.3s ease;
  position: relative;
}


nav a:hover {
  transition: all 0.5s ease-in-out;
}

#center {
  font-size: 1.5rem;
}

section {
  color: white;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-bottom: 80px;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  height: 45vh;
  width: 50vw;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section:last-of-type {
  opacity: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
#kontakt {
  color: white;
}
p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

#Seite {
  text-decoration: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

#ich {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  height: 65%;
  width: auto;  
}
#inhalt_um{
  display: grid;
  grid-template-rows: auto auto;
}
#steckbrief{
  grid-row: 1;
}
#bild_um{
  grid-row: 2;
}
.abschnitt {
  color: #e6ba7d;
  margin-top: 5%;
  margin-left: 15%;
  font-weight: bold;
}
#steckbrief {
  color: white;
  margin-left: 14.5%;
  margin-top: 0;
}
body::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #e6ba7d;
  border-radius: 20px;
  border: 3px solid black;
}

#ich {
  position: absolute;
  top: 36%;
  right: 3.1%;
  height: 60%;
  width: auto;
}
#text {
  position: absolute;
  top: 27.5%;
  left: 10%;
  padding-right: 20%;
  white-space: nowrap;
}
th {
  text-align: left;
  font-weight: bold;
}
table th,
table td {
  padding-left: 20px;
  padding-bottom: 7px;
}
#caesar {
  color: #e6ba7d;
  font-weight: bold;
  text-decoration: none !important;
}
#pt1,
#pt2,
#pt3 {
  color: white;
}
#ptbd3 {
  float: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: -1px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6ba7d;
  margin-bottom: -10px;
  padding: 10px;
}

.grid-item img {
  max-width: 80%;
  max-height: auto;
  margin: 10%;
}

.grid-item p {
  padding: 20px;
  text-align: justify;
}
#knt {
  color: white;
  align-items: center;
  text-align: center;
}
#egg {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
}
#eggo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  font: 1px;
  color: white;
}
.contactMail {
  color: white;
}
.email-button {
  text-decoration: none;
  color: #e6ba7d;
}
.footer_cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 2rem;
}
#message {
  resize: none;
  width: 20%;
}
input,
textarea {
  border: 2px solid #e6ba7d;
  border-radius: 5px;
}
input {
  width: 15%;
}
#buttonium {
  border: none !important;
  width: 200px !important;
  height: 30px !important;
  background-color: #e6ba7d;
  color: black;
  border-radius: 5px;
}
#konami {
  text-decoration: none;
  color: #e6ba7d;
}
#img_f {
  margin-top: 0;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
}
#body_f {
  overflow: hidden;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: black;
  margin-top: 30px;
}

.bar {
  width: 0;
  height: 80px;
  background-color: #e6ba7d;
  transition: width 2s ease;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  color: white;
}

div.chart-container {
  width: 100%;
}
div#inhalt {
  width: 95%;
}
#container-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
#uebermichhtag,
#faehigkeitentag,
#portfoliotag,
#kontakttag {
  border-bottom: 2px solid #e6ba7d;
}
#texte {
  grid-column: 1;
  color: white;
  margin-top: 30px;
}
#inhalt {
  grid-column: 2;
}
#auflistung {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
li {
  height: 20%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.table-f {
  font-size: 16px;
}
form {
  margin-top: 5%;
}
#meinkorper {
  overflow: hidden;
}
#contacts-k {
  overflow: hidden;
}
ul {
  width: 48%;
}
iframe {
  justify-self: center;
}
.egg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

@media only screen and (max-width: 1024px){
  #inhalt_um{
    display: grid;
    grid-template-rows: auto auto;
  }
  #stecky{
    grid-row: 1;
  }
  #bild_um{
    grid-row: 2;
  }
}


@media only screen and (max-width: 1180px){
  
  #ich{
    height: auto;
    width: 300px;
  }


}
@media only screen and (max-width: 1144px){

ul {
  width: 90%;
}
}
 @media only screen and (max-width: 480px){

body{
}
 
.mobile-container {
  max-width: 480px;
  margin: auto;
  height: 500px;
  color: white;
  border-radius: 10px;
}
#menu123{
  display: none;
}
.topnav {
  overflow: hidden;
  position: relative;
}h4{
  background-color: black;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  background-color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin-bottom: 0;
}

.topnav a.icon {
  margin-top: 4%;
  margin-right: 5%;
  background-image: url(pics/Bar_Graph_-_Presentation__1_-removebg-preview.png);
  background-size: cover;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
header{
  top:0;
  margin-top: 0;
  background-color: #010101 ;
}
section{
  border: 3px solid #e6ba7d;
  border-radius: 5px;
}

.active {
  padding: 5%;
  background-color: black;
  color: white;
} 

#eggo{
  display: none;
}
.onepager{
background-color: none;
border: 1px solid #e6ba7d;
}

 }

