h1 {
  color: #e6ba7d;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

html {
  font-size: 16px;
}

.onepager {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: crosshair;
  font-size: 2.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Book Antiqua", serif;
}

#Titel {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Book Antiqua", serif;
  background-color: black;
}

header {
  background-color: #050505;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: 8vh;
  border-bottom: 1px #e6ba7d solid;
}

nav {
  background-color: black;
  color: #e6ba7d;
  height: 10vh;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav li {
  margin: 0 10px;
  align-items: center;
  text-align: center;
}

nav a {
  color: #e6ba7d;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  background-color: #e6ba7d;
  color: black;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

#center {
  font-size: 1.5rem;
}

section {
  color: white;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-bottom: 80px;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  height: 45vh;
  width: 50vw;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section:last-of-type {
  opacity: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
#kontakt {
  color: white;
}
p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

#Seite {
  text-decoration: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

/* #ich {
  position: absolute;
  top: 25%;
  right: 0;
  height: 65%;
  width: 27.%;
  margin: 25%;
} */
.abschnitt {
  color: #e6ba7d;
  margin-top: 15%;
  margin-left: 15%;
  font-weight: bold;
}
#steckbrief {
  color: white;
  margin-left: 14.5%;
  margin-top: 0;
}
body::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #e6ba7d;
  border-radius: 20px;
  border: 3px solid black;
}

#ich {
  position: absolute;
  top: 36%;
  right: 3.1%;
  height: 60%;
  width: auto;
}
#text {
  position: absolute;
  top: 27.5%;
  left: 10%;
  padding-right: 20%;
  white-space: nowrap;

}
th {
  text-align: left; 
  font-weight: bold; 
}
table th, table td {
  padding-left: 20px;
  padding-bottom: 7px;
}
#caesar{
  color: #e6ba7d;
  font-weight: bold;
}
#pt1, #pt2, #pt3{
  color: white;
}
  #ptbd3 {
  float: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: -1px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6ba7d;
  margin-bottom: -10px; 
  padding: 10px; 
}



.grid-item img {
  max-width: 80%;
  max-height: auto;
  margin: 10%;
}

.grid-item p {
  padding: 20px;
  text-align: justify;
}
#knt{
  color: white;
  align-items: center;
  text-align: center;
}

